/*LETRA

font-family: 'Manrope', sans-serif;
font-family: 'Noto Sans', sans-serif;
LETRA*/


*{
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #DBF6E9;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #31326F;
    border-radius: 5px;
}


/*Header*/

header{
    background-color: #FFF2EA;
}

header .sup{
    height: auto;
    background-color: #FFF2EA;
    display: flex;
    justify-content: space-between;
}

header #logo{
    margin: 1vw 0vw 1vw 0vw;
}

header #logo img{
    width: 6%;
    height: 100%;
    margin: 2px 0px 0px 12vw;
    
}

header .sup .men{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10vw;
}

header .sup .men .cat{
    display: flex;
    flex-direction: row;
    margin-right: vw;
}



header .sup .men .cat i{
    color: #36251d;
    font-size: 25px;
    margin: 15px 1vw 1vw 1vw;
}

header .sup .men .cat i:hover{
    color: #FFF2EA !important;
    transition: 1.8s;
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    -ms-transition: 1.8s;
    -o-transition: 1.8s;
}



header .sup .men .pro i{
    color: #36251d;
    font-size: 40px;
    margin: 27px 1vw 1vw 1vw;
}

header .sup .men .pro i:hover{
    color: #FFF2EA !important;
    transition: 1.8s;
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    -ms-transition: 1.8s;
    -o-transition: 1.8s;
}



#sep1{
    background-color: #cabeb7;
    height: 1px;
    width: auto;
}
 

/*Header*/



main {
    flex: 1 1 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main div {
    text-align: center;
    color: #353539;
  }
  main span {
    border-radius: 5px;
    padding: 5px 5px;
    display: inline-block;
  }
  
  
  [tooltip] {
    position: relative; 
  }
  
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: "";
    border: 5px solid transparent;
    z-index: 1001;
  }
  [tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
  }
  
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }


.todi{
  display: flex;
  flex-direction: column;
}

.tipo{
  display: flex;
  flex-direction: row;
  margin: 2vw 12vw 2vw 12vw;
}


.acce{
  display: flex;
  flex-direction: row;
  background: rgba( 47, 83, 120, 1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 25vw;
  height: auto;
  margin-right: 2vw;
}

.acce img{
  width: 30vw;
  height: 10vw;
  padding: 12px;
}

#enca{
  font-family: 'Manrope', sans-serif;

  text-align: center;
  font-size: 26px;
  margin: 4vw 1vw 4vw 1vw;
  color: #c2dbff;
}

.titi{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

#enca1{
  position: absolute;
  margin-top:30%;
  margin-right: 18px;
  font-size: 25px;
  color: #34454c;
} 


/*----------*/

.acce1{
  display: flex;
  flex-direction: row;
  background: rgba( 240, 191, 41, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 25vw;
  height: auto;
  margin-right: 2vw;
}

.acce1 img{
  width: 12vw;
  height: 10vw;
  padding: 12px;
}

#enca2{
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 4vw 3px 4vw 10px;
  color: #ffffff;
}

.titi1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

#enca3{
  position: absolute;
  margin-top:30%;
  margin-right: 18px;
  font-size: 25px;
  color: #000000;
} 

/*----------*/

.acce8{
  display: flex;
  flex-direction: row;
  background: rgba( 146, 213, 166, 0.95 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 26vw;
  height: auto;
  margin-right: 2vw;
}

.acce8 img{
  width: 12vw;
  height: 10vw;
  padding: 12px;
}

#enca9{
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 4vw 1px 4vw 5px;
  color: #ffffff;
}

.titi2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

#enca4{
  position: absolute;
  margin-top:30%;
  margin-right: 18px;
  font-size: 25px;
  color: #000000;
}




.produc{
  display: flex;
  flex-direction: row;
  margin: 10px 12.3vw 1vw 12.3vw;
  
}

#titular h1{
  color: #333;
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
}


.fia{
  display: flex;
  flex-direction: row;
}



.product-card {
    width: 355px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin-right: 10px;
    margin-top: 2vw;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 190%;
    max-height: 150%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}


/*Body*/

/*FOOter*/

footer .fin{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #def8ea;
}


footer .fin .iconos i{
    color: #36251d;
    font-size: 20px;
    margin: 13px;
}

footer .fin .iconos i:hover{
    color: #ff9800 !important;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

footer .fin #name p{
    font-family:'Manrope', sans-serif;
    font-size: 19px;
    margin-top: 11px;
    margin-right: 25px;
}

/*FOOter*/