/*LETRA

font-family: 'Manrope', sans-serif;
font-family: 'Noto Sans', sans-serif;
LETRA*/


*{
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #DBF6E9;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #31326F;
    border-radius: 5px;
}


/*Header*/

header{
    background-color: #FFF2EA;
}

header .sup{
    height: auto;
    background-color: #FFF2EA;
    display: flex;
    justify-content: space-between;
}

header #logo{
    margin: 1vw 0vw 1vw 0vw;
}

header #logo img{
    width: 6%;
    height: 100%;
    margin: 2px 0px 0px 12vw;
    
}

header .sup .men{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10vw;
}

header .sup .men .cat{
    display: flex;
    flex-direction: row;
    margin-right: vw;
}



header .sup .men .cat i{
    color: #36251d;
    font-size: 25px;
    margin: 15px 1vw 1vw 1vw;
}

header .sup .men .cat i:hover{
    color: #FFF2EA !important;
    transition: 1.8s;
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    -ms-transition: 1.8s;
    -o-transition: 1.8s;
}



header .sup .men .pro i{
    color: #36251d;
    font-size: 40px;
    margin: 27px 1vw 1vw 1vw;
}

header .sup .men .pro i:hover{
    color: #FFF2EA !important;
    transition: 1.8s;
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    -ms-transition: 1.8s;
    -o-transition: 1.8s;
}



#sep1{
    background-color: #cabeb7;
    height: 1px;
    width: auto;
}
 

/*Header*/


/*prueba*/

main {
    flex: 1 1 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main div {
    text-align: center;
    color: #353539;
  }
  main span {
    border-radius: 5px;
    padding: 5px 5px;
    display: inline-block;
  }
  
  
  /* ALL TOOLTIP STYLES */
  [tooltip] {
    position: relative; 
  }
  
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: "";
    border: 5px solid transparent;
    z-index: 1001;
  }
  [tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
  }
  
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* TOOLTIP: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
    -webkit-transform: translate(-50%, -.5em);
    -moz-transform: translate(-50%, -.5em);
    -ms-transform: translate(-50%, -.5em);
    -o-transform: translate(-50%, -.5em);
}
  
  /* TOOLTIP: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* TOOLTIP: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
    -webkit-transform: translate(-.5em, -50%);
    -moz-transform: translate(-.5em, -50%);
    -ms-transform: translate(-.5em, -50%);
    -o-transform: translate(-.5em, -50%);
}
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
    -webkit-transform: translate(-.5em, -50%);
    -moz-transform: translate(-.5em, -50%);
    -ms-transform: translate(-.5em, -50%);
    -o-transform: translate(-.5em, -50%);
}
  
  /* TOOLTIP: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
    -webkit-transform: translate(.5em, -50%);
    -moz-transform: translate(.5em, -50%);
    -ms-transform: translate(.5em, -50%);
    -o-transform: translate(.5em, -50%);
}
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
    -webkit-transform: translate(.5em, -50%);
    -moz-transform: translate(.5em, -50%);
    -ms-transform: translate(.5em, -50%);
    -o-transform: translate(.5em, -50%);
}
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }

/*prueba*/



/*Body*/


.Consultas{
  max-width: 40%;
  height: 68vh;
  display: inline-block;
  background-color: #ff9800;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 15vh;
}

#consulta_Abierta{
  display: inline-block;
  position: relative;
  left: 10vh;
}

#consulta_Abierta h2  span{
  color: greenyellow;
}

#consulta_Mas{
  display: inline-block;
  position: relative;
  left: 50%;
}

.boton{
  border: none;
  background: none;
}

.boton > i{
   font-size: 40px;
}
.boton > i:hover{
  color: white;
}


.chatDoctor{
  background: #DBF6E9;
  width: 95%;
  height: 25vh;
  margin-left: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px ;
}

.efo{
  width: 20%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  
}

#masc{
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

#prof{
  position: relative;
  margin-top: -42px;
  margin-left: 20px;
  border-radius: 50%;
  width: 70%;
  height: 100%;
}

.chatDoctor > .info_Mensaje{
  float:right;
  width: 75%;
}

#consulta_Cerradas{
  display: inline-block;
  position: relative;
  left: 10vh;
}

.chatDoctor_cerrado{
  width: 95%;
  height: 25vh;
  margin-left: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px ;
}

.chatDoctor_cerrado > .info_Mensaje{
  float:right;
  width: 75%;
}





.chat{
  max-width:  80%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  background-color:#def8ea;
  border-top-left-radius: 30px;
  height: 83vh;
}

.nombre_perfil{
  display: inline-block;
  margin-left: 5%;
}

.foto_perfil{
  display: inline-block;
  margin-left: 20%;
  border-radius: 100%;
  width: 8%;
  height: 100%;
}

.iconos_chat_info{
  display: inline-block;
  margin-left: 28%;
}

.iconos_info{
  display: inline-block;
  margin-left: 25px;

}


.boton_chat{
  border: none;
  background: none;
}

.boton_chat > i{
   font-size: 40px;
}
.boton_chat > i:hover{
  color: #ff9800;
}


.enviar_mensajes{
  position: absolute;
  top: 73vh;
}
.boton_camara{
  border: none;
  background: none;
}
.boton_camara > i:hover{
  color: #ff9800;
}

.icono_camara{
  display: inline-block;
  font-size: 40px;
  margin-right: 5px;
  margin-left: 8px;
  margin-top: 8px;
  
}

.mensaje-1{
  width: 50%;
  padding: 15px;
  display: inline-block;
  position: relative;
  left: 58vh;
  margin-top: 30px;
  background: #ff9800;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.mensaje-2{
  width: 50%;
  padding: 15px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  left: 20px;
  background: #6c6da8;
  border-radius: 30px;
}


.escribir{
  display: inline-block;
}
.escribir input{
  width: 640%;
  height: 50px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
 
}

.boton_enviar{
  display: inline-block;
  position: absolute;
  left: 500%;
  bottom: 5px;
  border: none;
  background: none;
}

.boton_enviar > i:hover{
  color: #ff9800;
}

.icono_enviar{
  margin-top: 8px;
  margin-right: 12px;
  font-size: 40px;
}






/*FOOter*/

footer .fin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #def8ea;
}


footer .fin .iconos i{
  color: #36251d;
  font-size: 20px;
  margin: 13px;
}

footer .fin .iconos i:hover{
  color: #ff9800 !important;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

footer .fin #name p{
  font-family:'Manrope', sans-serif;
  font-size: 19px;
  margin-top: 11px;
  margin-right: 25px;
}

/*FOOter*/